* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: blanchedalmond;
}
a {
  color: inherit;
  text-decoration: none;
}

#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 300px;
  min-height: 200px;
  border: 1px solid #000000;
  background-color: rgb(150, 124, 90);
  padding: 15px;
  box-sizing: border-box;
}

.box-login h2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.box-login label {
  font-size: medium;
}

.box-login strong {
  font-size: small;
}
.input-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.btn {
  background-color: rgb(97, 80, 58);
  padding: 8px 15px;
  color: white;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(96, 69, 32);
}

header {
  background-color: rgb(114, 94, 68);
  color: #fff;
}

header h1 {
  float: left;
  padding: 10px 0;
  padding-left: 5px;
}

header ul {
  float: right;
  padding-right: 40px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  display: inline-block;
  padding: 20px 0 20px 15px;
}

header ul li a:hover {
  color: rgb(216, 179, 130);
}
.container {
  width: 95%;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.search {
  padding: 20px;
  background-color: rgb(150, 124, 90);
  text-align: center;
  border: 1px solid #ccc;
}

.search input[type="text"] {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.search input[type="submit"] {
  background-color: rgb(189, 151, 102);
  color: antiquewhite;
  border: wheat;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
}

.box {
  background-color: rgb(176, 152, 122);
  border: 5px solid #ccc;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px 0 25px 0;
}

.box::after {
  content: "";
  display: block;
  clear: both;
}

.col-5 {
  width: 20%;
  height: 100%;
  text-align: center;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.col-4 {
  width: 20%;
  height: 320px;
  border: 1px solid #ccc;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.col-4:hover {
  box-shadow: 0 0 3px #999;
}
.col-4 img {
  width: 100%;
}
.col-4 .nama {
  color: #ffffff;
}
.col-4 .stok {
  color: #666;
}
.col-4 .harga {
  font-weight: bold;
  color: bisque;
  float: right;
}
.footer {
  padding: 25px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.footer p {
  margin-bottom: 10px;
}
.footer small {
  margin-top: 25px;
  display: inline-block;
}
.col-2 {
  width: 460px;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
.col-2 img {
  border: 1px solid #f9f9f9;
  padding: 5px;
  box-sizing: border-box;
}
.col-2 h3 {
  margin-bottom: 10px;
}
.col-2 h4 {
  color: rgb(189, 151, 102);
}
.col-2 p {
  margin: px 0;
  text-align: justify;
  line-height: 25px;
  font-size: 16px;
}
.col-2 a img {
  border: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .col-5 {
    width: 50%;
  }
  .col-4 {
    width: 50%;
    height: 300px;
  }
  .col-2 {
    width: 100%;
  }
}

.table{
  text-align: center;
}







.ads {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 468px; /* Sesuaikan dengan tinggi iklan Anda */
    margin-bottom: 20px;
}

.slider {
    width: 255%; /* Menggunakan 300% karena ada 3 gambar */
    display: flex;
    animation: slide 24s ease-in-out infinite; /* Durasi total animasi menjadi 12 detik */
}

.slider img {
    width: 33.33%; /* Masing-masing gambar akan menempati 1/3 dari lebar slider */
    height: 100%; /* Mengisi tinggi iklan */
    flex-shrink: 0; /* Menghindari penyusutan elemen */
}

@keyframes slide {
    0%, 16.66% {
        transform: translateX(0); /* Gambar pertama terlihat selama 2 detik */
    }
    25%, 41.66% {
        transform: translateX(-33.33%); /* Gambar kedua terlihat selama 2 detik */
    }
    50%, 66.66% {
        transform: translateX(-66.66%); /* Gambar ketiga terlihat selama 2 detik */
    }
    75%, 100% {
        transform: translateX(-100%); /* Kembali ke awal dengan transisi cepat */
    }
}




